<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <% @training_spots.each do |training_spot| %>
          <div class="card mb-6">
            <header class="card-header">
              <p class="card-header-title">
                <%= training_spot.name %>
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= training_spot.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= training_spot.avg_score %>点（<%= training_spot.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to training_spot_reviews_path(training_spot), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to training_spot_path(training_spot), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>
            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>